:root {
  scroll-behavior: smooth;
  .site-name{
     display: none;
  }
  .main-items{
    text-align: center;
  }
  .main-logo{
    width: 100%;
    height: 100%;
    max-width: 456px;
    max-height: 104px;
    margin: 170px auto 70px auto;
  }
  .social-items{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
  .social-logo{
    width: 30px;
    height: 30px;
    margin: 20px 15px 20px 15px;
  }
  .line-small{
    height: 1px;
    width: 100%;
    background-color: #F9F9F9;
    max-width: 280px;
    margin: 0 auto;
  }
  .line-large{
    height: 2px;
    width: 100%;
    background-color: #F9F9F9;
    max-width: 1060px;
    margin: 0 auto;
  }
  .feature-items{
    display: grid;
    gap: 20px;
    margin-top: 50px;
    grid-template-columns: 250px 250px 250px 250px;
    grid-auto-rows: minmax(100px, auto);
    margin-bottom: 90px;
    text-align: center;
    justify-content: center;
  }

  .feature-logo{
    width:100%;
    height:100%;
    max-width:300px;
    max-height:200px;
  }

  .feature-text{
    font-size: 20px;
    font-weight:bold;
    margin-top:30px;
    color:#333333
  }

  .feature-arrow{
    width: 10px;
    height: 16px;
    margin: 8px 5px 0 5px;
    line-height: 20px;
  }

  a.feature-text:hover{
    font-size: 20px;
    font-weight:bold;
    margin:10px;
    color:#27ad40
  }

  @media only screen and (max-width: 600px) {
    .feature-items{
      grid-template-columns: 250px;
    }
    .main-logo{
      max-width: 228px;
      max-height: 52px;
    }

    .social-logo{
      width: 30px;
      height: 30px;
      margin: 20px 5px 20px 5px;
    }
  }

  @media only screen and (min-width: 600px) {
    .feature-items{
      grid-template-columns: 250px 250px ;
    }
    .main-logo{
      max-width: 228px;
      max-height: 52px;
    }
    .social-logo{
      width: 30px;
      height: 30px;
      margin: 20px 5px 20px 5px;
    }
  }

  @media only screen and (min-width: 768px) {
    .feature-items{
      grid-template-columns: 250px 250px ;
    }
    .main-logo{
      max-width: 456px;
      max-height:104px;
    }
    .social-logo{
      width: 30px;
      height: 30px;
      margin: 20px 15px 20px 15px;
    }
  }

  @media only screen and (min-width: 992px) {
    .feature-items{
      grid-template-columns: 250px 250px ;
    }
    .main-logo{
      max-width: 456px;
      max-height:104px;
    }
    .social-logo{
      width: 30px;
      height: 30px;
      margin: 20px 15px 20px 15px;
    }
  }

  @media only screen and (min-width: 1200px) {
    .feature-items{
      grid-template-columns: 250px 250px 250px 250px;
    }
    .main-logo{
      max-width: 456px;
      max-height:104px;
    }
    .social-logo{
      width: 30px;
      height: 30px;
      margin: 20px 15px 20px 15px;
    }
  }
}
